@use '../Globales/variables' as v; 
@use '../Globales/mixin' as m;
@use '../Globales//mediaquery' as mq;

.navbar-bg{
    background-color: v.$navbar-bg;
    color: v.$navbar-text;
    --bs-navbar-color: #{v.$navbar-text};
    --bs-navbar-hover-color: #{v.$navbar-text-hover};
    --bs-navbar-active-color: #{v.$navbar-text-active};
    --bs-navbar-brand-color: #{v.$navbar-text};
    --bs-navbar-brand-hover-color: #{v.$navbar-text-hover};

    //btn hamburguesa
      --bs-navbar-toggler-border-color: #{v.$navbar-text};
      --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23f8f5f0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler{
    &:focus{
        box-shadow: none;
    }
}

.navbar-nav{
    padding-top: 2rem;
    gap: .8rem;
    padding-inline: clamp(.9rem, 4vw, 3rem);
    font-size: v.$font-siz-nav;
    @include mq.desktop { 
        gap: 5rem;
        align-items: center;
    } 
}


.navbar-collapse{
    width: 100%;
    @include mq.desktop { 
        display: flex;
        justify-content: center;
    } 
}

.navbar-logo{
    width: 5rem;
    @include mq.tablets { 
        width: 7rem;
    } 
}

.nav-item-redes{
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    
    @include mq.desktop { 
        display: none;
    } 

    a{
        font-size: 2rem;
        margin-top: 2rem;
        @include mq.tablets { 
            margin-top: auto;
        } 
    }
}

.navbar-reservar-tablet{
    display: none;
    @include mq.tablets { 
        display: block;
    } 
}

.navbar-tablet{
    @include mq.tablets { 
        display: flex;
        gap: 5rem;
    } 
    @include mq.desktop { 
        display: none;
    }
}


.reserva{
    background-color: v.$btn-primary-bg;
    color: v.$btn-primary-text;
    padding: .5rem 3rem;
    font-weight: v.$font-semibold;
    transition: all 300ms ease;
    
    @include mq.tablets { 
        font-size: v.$font-size-sm;
        padding: .3rem 1.8rem;
        border-radius: .5rem;
    } 

    @include mq.desktop { 
        padding: .5rem 5rem;
    } 
    
    &:hover{
        background-color: v.$btn-primary-bg-hover;
        color: v.$btn-primary-text;
    }
}

.reservar-celular{
    @include mq.tablets { 
        display: none;
    } 
    @include mq.desktop { 
        display: block;
    } 
}



.alojamientos-collapse-desktop{
    @include mq.desktop { 
        display: none;
    } 
}

.alojamientos-dropdown-desktop{
    display: none;
    @include mq.desktop { 
        display: block;
    } 
}

.Alojamiento-toggle{
    display: flex;
    align-items: center;
    gap: 2rem;

    i{
        transition: transform .25s ease;
    }


    &[aria-expanded="true"]{
        i{
            transform: rotate(90deg);
        }
    }
}

.AlojamientosShow{
    max-width: 20rem;

    .nav-link{
        display: flex;
        justify-content: space-between;

        i{
            transition: transform .25s ease;
        }

        &:hover i{
            transform: translateX(.4rem);
        }

        &:active i{
            transform: translateX(1rem);
        }

    }
}



@include mq.desktop { 

    .dropdown-toggle{

        &::after{
            transition: transform .35s ease;
            transform: rotate(180deg);
        }

        &[aria-expanded="true"]{
            &::after{
                transform: rotate(0deg);
            }
        }
    }

    .dropdown-menu{
        display: block;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-1rem);
        font-size: v.$font-size-base;

        transition: 
        opacity .2s ease,
        transform .35s ease,
        visibility .2s ease;

       a{
            transition: 
            background-color .15s ease,
            color .2s ease;

            &:hover{
                background-color: v.$color-accent-hover;
                color: v.$text-light;
            }
       }
    }

    .dropdown-menu.show{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
    }


} 